body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.029);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  gap: 15px;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.container {
  text-align: center;
}
.main-heading {
  color: #333;
}
.description {
  color: #666;
}
.bold {
  font-weight: bold;
}
.apple-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  filter: invert(1);
  margin-left: 5px;
}
.bottom-bar {
  position: absolute;
  bottom: 0;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 15px;
}
.bottom-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.bottom-bar ul li {
  display: inline;
}
.bottom-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}
.bottom-icon:hover {
  transform: scale(1.5);
}
.calendar-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 10px;
  font-weight: bold;
  transition: transform 0.3s;
}
.calendar-icon:hover {
  transform: scale(1.5);
}
.calendar-icon .month {
  font-size: 8px;
}
.calendar-icon .date {
  font-size: 12px;
}
.separator {
  width: 1px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
}
